
.signinWrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #f7f7f7;
    position: relative;
  }

  .signinSection {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }

.signinForm {
    padding: 1rem;
    width: 35%;
    margin-left: 5rem;
}

.signinForm h2 {
    font-family: "Inter", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 0;
}
.signinForm h5 {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}

.userName {
    width: 100%;
    padding-bottom: 1rem;
}

.Password {
    margin-bottom: 1rem;
}


.signinForm input {
    border-radius: 10px;
    margin-bottom: 0rem;
}
.signinImg {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 50%; 
    text-align: center;
  }
  .signingImg img {
    width: 120%;
    object-fit: contain;
  }
.signinImg h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    padding-left: 15rem;

}
.signinImg p{
    padding-left: 15rem;

}
.signinBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.signinBtn a {
    color: #333333;
    font-weight: 600;
}
.signinBtn button {
    background-color: #606B6E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 50%;
    border-radius: 10px;
}
.signinisterForm p {
    text-align: center;
    color: #333333;
    font-weight: 600;
    
}

@media only screen and (max-width: 768px) {
    .signinSection {
        flex-direction: column-reverse;
    }
    

    .signinImg {
        order: 1;
        width: 100%;
        margin-bottom: 2rem;
        position:static;
        display: flex;
        
    }
 
    .signinForm {
        order: 2;
        padding: 2rem 1rem;
        width: 100%;
    }
}
