.registerWrapper {
    height: 100vh;
    justify-content: center;
    display: flex;
}

.registerSection {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.registerForm {
    padding: 1rem;
    width: 50%;
}

.registerForm h3 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    padding-bottom: 1rem;
}

.userName {
    width: 100%;
    padding-bottom: 1rem;
}

.emailPhone {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.terms {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    text-align: center;
    flex-wrap: wrap;

}

.terms input {
    width: 1rem;
    margin-right: 0.5rem;
}

.registerPasswords {
}

.Password {
    margin-bottom: 1rem;
}


.registerForm input {
    border-radius: 10px;
    margin-bottom: 0rem;
}

.regImg {
    width: 50%;
    text-align: center;
}

.regBtn button {
    background-color: #606B6E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .registerSection {
        flex-direction: column;
    }
    .terms {
        justify-content: flex-start;
        text-align: left;
        padding: 1rem;
    }

    .terms a {
        display: inline-block;
        width: 100%;
    }

    .regImg {
        order: 1;
        width: 100%;
        margin-bottom: 2rem;
    }

    .registerForm {
        order: 2;
        padding: 2rem 1rem;
        width: 100%;
    }
}
